<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3"></script>

    <title>Vue Hello</title>
</head>
<body>

   <div id="app">
        <h1>Ciao {{nome}}</h1>
        <p :class="myClass">Paese di Residenza: {{residenza}}</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ad cum adipisci pariatur ut deleniti molestiae debitis dolor, dicta labore eius consectetur expedita quos iure esse tenetur odio quam modi.</p>

        <input type="text" v-model="nome">
        <input type="text" v-model="residenza">

        <button @click="myClass = 'sottolinea'">Sottolinea Testo</button>
        <button @click="myClass =''">Originale</button>
        <button @click="changeImg()">Cambia Immagine</button>
        <input type="text" v-model="path">
        <img :src="path" alt="">
   </div>
    
    <script src="js/script.js"></script>
</body>
</html>